.p-borrow1{
    display: flex;
  }

  .p-borrow1 p{
    font-weight: 600;
    padding: 20px 0;
    font-size: 1.3rem;
  }

  .bprofile-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CCE1FF;
    padding: 30px;
    max-width: 800px;
  }

  .bprofile-div h4{
    font-size: 1.5rem;
    padding: 10px 0;
  }

  .bprofile-div2{
    padding: 20px;
    gap: 4px;
  }

  .status-change{
    background-color: #0267FF;
    padding: 7px;
    color: white;
  } 
  .br-loan-n {
    text-decoration: none;
    color: #666666;
  }

   .borrow_preview{
    text-decoration: none;
    padding-top: 30px;
    font-size: 18px;
    color: #0267FF;
    font-weight: 500;
    border-style: none;
    background-color: white;
  } 
  .modal-flex{
    display: flex;
   
  }
  .modal-flex li{
    border: 1px solid #0252CC;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
  }
  .modalP-head{
    padding: 10px;
  }
  .modalP-head h2{
    color: #0267FF;
    font-weight: 600;
  }
  .modalP-head p{
    padding-top: 10px;
  }
  .modal-btn{
    padding: 10px;
    background-color: #0267FF;
    color: white;
    border: none;
   
  }
  .modal-btn-div{
    display: flex;
    justify-content: flex-end;
    
  }
 