* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.db-nav-container {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 30px 70px 18px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  margin-left: 12rem;
}

.db-logo img {
  height: 45px;
  width: 35px;
}

.db-search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.db-input-search {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  width: 520px;
  height: 40px;
  outline: none;
  padding-left: 1rem;
}
.db-search input::placeholder {
  color: #e5e5e5;
  font-weight: 500;
  font-size: 16px;
}

.profile-pic {
  height: 40px;
  width: 40px;
}

.db-nav-icons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

/* .db-mail {
  height: 18px;
}
.db-bell {
  height: 25px;
} */

/* DASHBOARD SIDENAV STYLES */
.db-main {
  display: flex;
  gap: 40px;
}

.db-s-nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: #fafcff;
  height: 86vh;
  width: 250px;
  overflow: auto;
}

.db-links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.db-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  flex: none;
  order: 1;
  flex-grow: 0;
  /* margin: 40px 0 0 20px; */
  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px; */
  padding: 18px 0 18px 20px;
  text-decoration: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.active-dbl {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0267ff;
  flex: none;
  order: 1;
  flex-grow: 0;
  /* margin: 40px 0 0 20px; */
  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px; */
  padding: 18px 0 18px 20px;
  text-decoration: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  background-color: #cce1ff;
}

/* .da.active {
  background-color: red;
}

.dv.active {
  background-color: blue;
} */

/* .active {
  background-color: blue;
} */
.log-out {
  display: flex;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.welcome-msg {
  font-size: 1.5rem;
  color: #0267ff;
}
