.loansgener-wrapper{
  max-width: 99.7rem;
  position: absolute;
  top: 150px;
  left: 300px;
  right: 60px;
}
.generated-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    font-size: 1.5rem;
}
.generated-flex h3{
    font-weight: 500;    
}
.dashb-link{
    text-decoration: none;
    color: #808080;

}
.generatedboard-wrap{
    border: 1px solid #CCE1FF;
    background-color: #FAFCFF;
    height: 500px;
    padding: 20px;
}
.generatedboard-wrap h4{
 color: #013E99;
 font-size:1.5rem ;

}
.loans-heading{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.loans-heading span{
    color: #4D4D4D;
}
.loans-heading h6{
    color: #0252CC;
    font-size: 1.2rem;
}
.loans-heading p{
    font-size: 1.2rem;
    padding: 5px 0;
}
.sort-div{
    color: #0252CC;
}
.loans-table{
    width: 100%;
    border-collapse: collapse;
    text-align: start;
    margin-top: 20px;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    
}
.loans-table th{
    background-color: #E6F0FF;
}
.loans-table td, .loans-table th{
  padding: 15px;
  text-align: start;
}
.generated-blue{
    color:#0267FF; 
    font-weight: 600;
}
.generated-orange{
    color: #F29509;
    font-weight: 600;
}
.generated-red{
  color: #FF2727;
  font-weight: 600;
}
.generated-green{
    color: #04AB33;
    font-weight: 600;
}
.arrowimg{
    font-size: 30px;
    padding-top: 10px;
}

@media screen and (max-width: 767px) {
    .loansgener-wrapper {
      top: 0;
      left: 0;
      right: 0;
      padding: 15px;
    }
  }