/* Hero page Section */
.row {
    display: flex;
  }
  
  .container {
    width: 1140px;
    height: 600px;
    margin: 60px auto;
    background: var(--container-color);
    border-radius: 0 30px;
    border: 1px solid var(--container-color)
  }
  
  .hero-page {
    align-items: center;
  }
  
  .hero-page>* {
    flex-basis: 100%;
  } 
  
  .hero-content {
    flex-wrap: wrap;
    margin-left: 79px;
  }
  
  .hero-title h1{
    font-size: 40px;
    color:var(--heading-color);
    padding: 10px 0;
    line-height: 48px;
    margin-bottom: 20px;
  }
  
  .hero-title p {
    font-size: 24px;
    height: 93px;
    width: 437px;
    color:  #4D4D4D;
  }
  
  .hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-color);
    padding: 6px 12px;
    border: none;
    text-transform: capitalize;
    width: 317px;
    height: 63px;
    margin-top: 35px;
    font-size: 25px;
    color: var(--bg-color);
    background: var(--button-color);
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
  }

  .hero-btn a {
    text-decoration: none;
    color: inherit;
  }

  /* Services section */

.services {
  margin-left: 80px;
  background-color: #fafcff;
}

.services-container .content h2 {
  text-decoration: underline;
  font-size: 32px;
  color: var(--heading-color);
  text-transform: uppercase;

}
.content h2 {
  padding: 15px;
  margin-top: 60px;
}
.textAndImage{
display: flex;
}
.services-container .image img{
  width: 446px;
  height: 400px;
  margin-top: -30px;
  border-radius: 50px 0;
}

.services-container .services-content .textAndImage .text {
  width: 620px;
}

.services-content{
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.services-content span {
  border: 1px solid var(--button-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 7px;
  text-align: center;
  font-size: 25px;
  color: var(--heading-color);
}

.services-content .text p {
  font-size: 28px;
  line-height: 35px;
  color: var(--text-color);
  font-weight: 400;
}
/* reviews section */

.review {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.review-container {
  margin-left: 80px;
}

.review-container p {
  font-size: 14px;
  line-height: 17px;
  width: 331px;
  height: 33px;
  margin: 0 auto;
  text-align: left;
  padding-left: 22px;
}
.review-content {
  background: var(--tertiary-color);
  margin-bottom: 25px;
  padding: 23px;
  align-items: center;
  color: var(--text-color);
}

.review-subcontent{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding-bottom: 8px; 
}

.review-subcontent .user {
  width: 40px;
  height: 40px;
}

.review-subcontent .reviewer {
  font-size: 24px;
  font-weight: 600;
}

.review-subcontent .time {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

/* Media section */

.media {
  width: 628px;
  border-radius: 48px 0px 0px 48px;
  background: var(--tertiary-color);
}

.media-content {
  text-align: center;
  margin: 70px 10px;
}

.media-content h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 35px;
}

.media-content p {
width: 532px;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-left: 80px;
text-align: left;
color: #808080;
}

.media-content a button {
  padding: 17px;
  color: var(--bg-color);
  border-radius: 5px;
  background: #013E99;
  border: none;
  width: 296px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 137px;
}

.media-content .btn{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 80px;
  gap: 30px;
  margin-top: 40px;
 
}
.media-content .btn button {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px; 
  background: transparent; 
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

/* Sponsor section */

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 70px 0;
}

.sponsors img {
  width: 142px;
}

.social-icons a{
  margin-top: 50px;
  padding: 15px;
}

.address{
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin-top: 40px;
}
