
.wrapper {
    position: relative;
    width: 100%;
    height: 374px;
}

.images {
  position: absolute;
  width: 650px;
  opacity: 0;
  height: 485px;
  object-fit: cover;
  left: 7%;
  right: -8%;
  transition: opacity 0.5s ease-in-out;
}

.images.fade-in {
  opacity: 1;
}

.images.fade-out {
  opacity: 0;
}
@media (max-width: 1200px) {
  .images{
    width: 55
    0px;
    height: 300px;
  }
  
}
@media (max-width: 600px) {
  .images{
    height: 250px;
  }
  
}