.loan-app-wrapper {
  max-width: 99.7rem;
  position: absolute;
  top: 150px;
  left: 300px;
  right: 60px;
}

.loan-app-table a {
  text-decoration: none;
  color: inherit;
}

/* .loan-app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.loan-app-title h2 {
    font-size: 22px;
    font-weight: 600;
    color: #0267FF;
    padding: 50px 0px 0px 0px;
}

/* .loan-app-filter-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loan-app-filter-icon h3 {
  font-size: 20px;
  color: #666666;
} */

.loan-app-table {
  width: 92%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.loan-app-table th,
.loan-app-table td {
border-top: 15px solid #fff;
padding: 10px;
text-align: center;
}

.loan-app-table th {
  background: #E6F0FF;
  font-weight: 600;
}

.loan-app-table tr:nth-child(even) {
  background: #fafcff;
}

.loan-app-table tr:nth-child(odd) {
  background: #fafcff;
}
