*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aboutContain{
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px; 
    margin-top: 120px;
  }
  
  .aboutContain .topic{
    color: #67A4FF;
    padding: 25px 0;
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
  }

  .missionA{
    height: 400px;
    background-color: #F1FBF8;
    padding: 25px 25px;
    align-items: center;   
  }

  .missionA h4{
    background-color: #012966;
    color: white;
    width: fit-content;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
    margin-left: 30px;
  }

  .missionA p{
    margin-left: 100px;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    margin-top: 55px;
    margin-right: 50px;
  }

  .visionA{
    height: 400px;
    background-color: #013E99;
    align-items: center;
    padding: 25px 25px;
    border-radius: 5px;
  }

  .visionA h4{
    background-color: #E6F0FF;
    width: fit-content;
    padding: 15px;
    font-size: 2rem;
    margin-left: 30px;
  }

  .visionA p{
    color: #fff;
    font-size: 2rem;
    align-items: center;
    margin-left: 100px;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    margin-top: 55px;
    margin-right: 50px;
  }

  .coreValues{
    height: 400px;
    background-color: #9AC2FF;
    padding: 25px 25px;
  }

  .coreValues h4{
    background-color: #012966;
    color: #fff;
    width: fit-content;
    padding: 20px;
    font-size: 2rem;
    width: fit-content;
    margin-left: 30px;
    
  }
  .coreValues ul{
   font-size: 1.5rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-left: 250px;
   margin-top: 100px;
  }

  .coreValues li {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }

  .coreValues li svg {
    vertical-align: middle;
    fill: #012966;
  }
  