* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dash-wallet {
  margin-top: 25px;
  font-size: 15px;
}
.percent-flex .dash-view {
  color: #1a1a1a;
}
ul {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  list-style: none;
  gap: 2.5rem;
}

.dHead {
  padding: 15px 0;
}

.dHead h2 {
  color: #0267ff;
  padding: 15px 0;
  font-size: 1.5rem;
}
.dHead h3 {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.dCards {
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 300px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fig-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.fig-flex img {
  padding: 20px 0;
}
.percent-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cccccc;
  background-color: #f2f2f2;
  padding: 15px;
}
.percent-rect {
  display: flex;
  gap: 5px;
}
.fig-flex h4 {
  font-size: 1.7rem;
  padding-top: 10px;
}

.dash-wallet {
  color: #666666;
}

.dash-wrapper {
  height: 86vh;
  overflow-y: scroll;
  width: 85%;
}

.dash-chart p {
  font-size: 1.5rem;
  font-weight: 700;
}

.placeholder::placeholder {
  color: #808080;
}

.b-header {
  padding: 20px 0;
  font-size: 1.5rem;
}

.b-header h3 {
  padding: 10px 0;
  color: #0267ff;
  font-size: 22px;
}

.b-header p {
  color: #4d4d4d;
  font-weight: bold;
}

.bor-data {
  padding: 10px;
  border: 1px solid #cce1ff;
  background-color: #fafcff;
  width: 700px;
  /* height: 550px; */
  border-radius: 25px 0 25px 0;
  margin-top: 35px;
  
}
.bor-data-b{
  border: 1px solid #cce1ff;
  background-color: #fafcff;
  width: 700px;
  /* height: 550px; */
  border-radius: 25px 0 25px 0;
  margin-top: 35px;

}
.bor-data-b h5{
  padding-top: 10px;
  color: #4d4d4d;
  font-size: 1.5rem;
  margin: 0 25px;
}

.loan-data {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cce1ff;
  background-color: #fafcff;
  width: 600px;
  height: 350px;
  border-radius: 25px 0 25px 0;
}
.loan-data h5 {
  color: #4d4d4d;
  font-size: 1.2rem;
  margin: 0 25px;
  /* padding: 20px 0; */
}

.loan-data h5 {
  color: #4d4d4d;
  font-size: 1.2rem;
  margin: 0 25px;
}

.bor-data h5 {
  color: #4d4d4d;
  font-size: 1.5rem;
  margin: 0 25px;
}

.b-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.b-data input {
  padding: 14px;
  margin: 10px;
  width: 270px;
  font-size: 1.2rem;
  border: 1px solid #0252cc;
  border-radius: 5px;
}

/* .s-btn {
 
  margin: 0 auto;
  width: 200px;
  padding: 20px 0;
  cursor: pointer;
} */

.b-btn {
  width: 120px;
  padding: 10px;
  background-color: #0267ff;
  border-style: none;
  margin-right: 30px;
  font-weight: 750;
  cursor: pointer;
}

/* .b-btn:hover{
    background-color: #4889eb;
} */

.g-btn {
  /* display: flex;
  justify-content: flex-end; */
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0267ff;
  color: white;
  border-style: none;
  margin-right: 30px;
  font-weight: 700;
  cursor: pointer;
}

.g-btn:hover {
  opacity: 0.8;
}

.btn-btn .btn-pre {
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-btn .btn-cancel {
  color: #ff1c1c;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.loan-info-flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.loan-info-flex input {
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-size: 1.3rem;
  border: 1px solid #0252cc;
  border-radius: 5px;
}

.loan-info-flex select {
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-size: 1.3rem;
  border: 1px solid #0252cc;
  color: #808080;
  border-radius: 5px;
}

textarea {
  padding: 20px;
  margin: 25px;  
  font-size: 1.3rem;
  width: 600px;
  border: 1px solid #0252cc;
  border-radius: 5px;
}

.d-btn {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  padding: 20px;
  cursor: pointer;
}

.l-btn {
  width: 200px;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-color: #80b2ff;
  margin-right: 30px;
  color: #0267ff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.l-btn:hover {
  background-color: #0f6fff85;
}

.car-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #839fc9;
  margin-top: 15px;
  margin-left: -20px;
  left: 0;
  width: 100%;
  bottom: 0;
  /* position: absolute; */
  /* font-size: 15px; */
  /* margin: 0 auto; */
  /* width: 50px;    */
}

.car-dot .p1 {
  color: #064ab1;
}

.main-wrap h5 {
  font-size: 1.2rem;
  padding: 30px 0;
}

.dash-chart {
  border: 1px solid #e6f0ff;
  background-color: #f9f9f96b;
  padding: 20px 0;
  margin: 20px 0;
}

.dash-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.area-chart {
  width: 60%;
  border: 1px solid #e6f0ff;
  background-color: #f9f9f96b;
}

.dash-pie {
  width: 40%;
  border: 1px solid #e6f0ff;
  background-color: #f9f9f96b;
}

.fig-map {
  font-weight: 800;
  font-size: 1.5rem;
}
.percent-flex span {
  font-size: 1.2rem;
}
