@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;700&family=Inter:wght@400;500;600;700&family=Jost:wght@300;400;500;600&family=Lexend+Deca:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  width: 1440px;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --container-color: linear-gradient(0deg, #F2F2F2, #F2F2F2),
  linear-gradient(0deg, #CCE1FF, #CCE1FF);
  --heading-color: #0252CC;
  --bg-color: #fff;
  --primary-color: #FAFCFF;
  --secondary-color: #E6F0FF;
  --text-color: #666666; 
  --button-color: #0267FF;
  --tertiary-color: #E6F0FF;
  --border-color: #CCCCCC;
}